{% extends "encyclopedia/layout.html" %}

{% block title %}
    New Page
{% endblock %}

{% block header %}
    <h1>Create Page</h1>
{% endblock %}

{% block body %}

    {% if entry_exist %}
        <p class="alert alert-danger" role="alert">ERROR: A page with this title is already exists.</p>
    {% endif %}

    {% if invalid %}
        <p class="alert alert-warning" role="alert">ERROR: The data entered is invalid. Please try again.</p>
    {% endif %}

    <form class="mb-3" action="{% url 'newpage' %}" method="POST">
        {% csrf_token %}
        {{ form }}
        <input class="btn btn-primary mt-4" type="submit" value="Submit">
    </form>
    
{% endblock %}